<div class="flashbag">
{% for msgType, msgs in app.session.flashbag.all %}
    {% for flashMessage in msgs %}
        <div class="flash-{{ msgType }}">{{ flashMessage|trans }}</div>
    {% endfor %}
{% endfor %}
</div>
<div class="ajaxbag">
    <div class="ajax-loader"><img height="16" src="{{ asset('images/ajax-loader.gif') }}" alt="Loading..." /></div>
    <div class="ajax-notice"></div>
</div>