<footer id="colophon" role="contentinfo">
    <div class="credits">
        JCSGYK Admin {{ version }} | &copy; <a href="http://jcsgyk.hu" target="_blank">JCSGYK</a> | Fejlesztette: <a href="http://bencemeszaros.com" target="_blank">Mészáros Bence</a>
    </div>
</footer><!-- #colophon -->