<meta charset="UTF-8" />
<title>{% block title %}{{ co_short() }} {{ 'Admin'|trans }}{% endblock %}</title>
<link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />

{% stylesheets output='css/main.css' combine=true
    '@JCSGYKAdminBundle/Resources/public/css/reset.css'
    '@JCSGYKAdminBundle/Resources/public/css/jquery-ui.custom.css'
    '@JCSGYKAdminBundle/Resources/public/css/jquery.jqplot.css'
    '@JCSGYKAdminBundle/Resources/public/css/tablesorter.css'
    '@JCSGYKAdminBundle/Resources/public/css/login.css'
    '@JCSGYKAdminBundle/Resources/public/css/header.css'
    '@JCSGYKAdminBundle/Resources/public/css/inquiry.css'
    '@JCSGYKAdminBundle/Resources/public/css/style.css'
    '@JCSGYKAdminBundle/Resources/public/css/buttons.css'
    '@JCSGYKAdminBundle/Resources/public/css/assistance.css'
    '@JCSGYKAdminBundle/Resources/public/css/quicksearch.css'
    '@JCSGYKAdminBundle/Resources/public/css/jquery.handsontable.full.css'
%}
    <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}