<div class="inquiry">
    <span>{{ 'érdeklődés<br>regisztráció'|trans|raw }}</span>
    <ul>
        {% for id, name in inquiry_types() %}
            <li><a href="{{ path('register_inquiry', {'type': id}) }}">{{ name }}</a></li>
        {% endfor %}
    </ul>
</div>