<header id="header" role="banner">
    <div class="headright">
        {% if app.user %}
            {{ 'Bejelentkezve:'|trans() }} <span class="username">{{ app.user.username }}</span>

        <a class="logout" href="{{ path('fos_user_security_logout') }}">{{ 'kilépés'|trans() }}</a>
    
        {% endif %}
    </div>

    {% render "JCSGYKAdminBundle:Menu:main" %}

    <div class="clear"></div>
</header>

{# render "JCSGYKAdminBundle:Menu:breadcrumb" #}
