# Bootstrap
app/bootstrap*

# Symfony directories
build/
bin
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
web/css/*
web/js/*

composer.phar
composer.lock
/nbproject

# Configuration files
/app/config/parameters.yml
