# Bootstrap
app/bootstrap*

# Symfony directories
build/
bin
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
web/uploads/*

composer.phar
composer.lock
/nbproject
.idea

# Configuration files
/app/config/parameters.yml
