<div class="button-row">
    {% if client is defined %}
        <a href="{{ path('clients') }}" class="top-button" id="edit_client" title="{{ 'szerkeszt'|trans }}"><img src="/images/edit-icon.png"></a>
    {% endif %}

    <div class="close">x</div>
</div>
