{# Other data #}
<div class="client-sub">{{ 'egyéb adatok'|trans }}</div>
<div>
    <table class="client-edit" cellspacing="0" border="0">
        {% for paramGroup in pgroup(1) %}
        {% set p = 'param_' ~ paramGroup.id %}
        <tr {% if paramGroup.multiple %}class="multirow"{% endif %}>
            <th>{{ form_label(form[p]) }}:</th>
            <td class="full-widget">
                {{ form_errors(form[p]) }}
                {{ form_widget(form[p]) }}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>