{# Note #}
<div class="client-sub togglable">{{ 'megjegyzés'|trans }}</div>
<div class="client-comment">
    {% if item.note is defined %}
        {{ item.note|nl2br }}
    {% elseif item.description is defined %}
        {{ item.description|nl2br }}
    {% endif %}
</div>
