{# Other data #}
<div class="client-sub togglable">{{ 'egyéb adatok'|trans }}</div>
<div>
    <table class="client" cellspacing="0" border="0">
        {% for param in cgrps() %}
        <tr>
            <th>{{ param.label|trans }}:</th>
            <td>{{ gparam(client, param) }} </td>
        </tr>
        {% endfor %}
    </table>
</div>