{# Parents #}
<div class="client-sub togglable">{{ 'Hozzátartozók adatai'|trans }}</div>
<div>
    {% for relation in relatives %}
        {% include "JCSGYKAdminBundle:Client:_relative_box.html.twig" with {'relative': relation.parent()} %}
    {% endfor %}
    {% if edit is defined and edit %}
    <div class="button-row">
        <a href="{{ path('relative_edit', {'id': client.id, 'relation_id': 'new'}) }}" class="greybutton edit_parent"><span>{{ 'Hozzátartozó hozzáadása'|trans }}</span></a>
    </div>
    <div class="clear"></div>
    {% endif %}
</div>
<br>