
{% include "JCSGYKAdminBundle:Client:_buttons.html.twig" with {'buttons': ['back', 'save']} %}
{% include "JCSGYKAdminBundle:Client:_edit_personal_data.html.twig" %}



{% if result %}
    <div id="result">{{ result }}</div>
{% endif %}