{% extends 'JCSGYKAdminBundle::layout.html.twig' %}

{% block title %}Családsegítő Admin{% endblock %}

{% block content %}
    <div class="contentwrapper">
        <div class="contentscroller">
            <div id="searchblock">
                <div id="search-head">
                    {% include "JCSGYKAdminBundle:Client:_buttons.html.twig" with {'buttons': ['new_client']} %}

                    <h1 class="client left">{{ 'Ügyfelek'|trans }}</h1>
                    {% include "JCSGYKAdminBundle:Elements:quicksearch.html.twig" %}
                </div>
                <div id="search-results">
                    <div class="info">
                    <p>A gyorskereső mezőben ügyfélszám, név, TAJ szám vagy utcanév és házszám szerint is kereshet.</p>
                    <p>Ügyfélszám vagy TAJ szám esetében csak számokat írjon be!</p>
                    <p>Házszámra való keresés esetében a számnak mindig utolsóként kell szerepelni, és pontosan kell
                       megadni a házszámot (Pl 'Üllői 54-56').<br>
                       A szám végére *-ot téve résztalálatokra is kereshet.<br>
                       (Pl: Üllői 66*)</p>
                    </div>
                </div>
            </div>

            <div id="clientblock" tabindex="200"><div class="leftpad rightpad fullheight">
                <form action="{{ path('client_view') }}" method="post" name="getclientform" id="getclientform"></form>
                <div class="loading">
                    Betöltés...
                </div>
                <div class="clientcontent"></div>
            </div></div>

            <div id="problemblock" tabindex="300"><div class="leftpad rightpad fullheight">
                <form action="{{ path('problem_view') }}" method="post" name="getproblemform" id="getproblemform"></form>
                <div class="loading">
                    Betöltés...
                </div>
                <div class="problemcontent"></div>
            </div></div>

            <div id="eventblock" tabindex="400"><div class="leftpad rightpad fullheight">
                <form action="{{ path('event_view') }}" method="post" name="geteventform" id="geteventform"></form>
                <div class="loading">
                    Betöltés...
                </div>
                <div class="eventcontent"></div>
            </div></div>

            <div id="rightspacerblock"></div>
        </div>
    </div>
    {% include "JCSGYKAdminBundle:Dialog:container.html.twig" %}
{% endblock %}