{% extends 'JCSGYKAdminBundle::layout.html.twig' %}

{% block content %}
    <div class="contentwrapper">
        <div class="contentscroller">
            <div id="searchblock">
                <div id="search-head">
                    {% if is_expr_granted("hasRole('ROLE_ADMIN') or hasRole('ROLE_ASSISTANCE') or hasRole('ROLE_FAMILY_HELP') or hasRole('ROLE_CATERING')") %}
                        {% include "JCSGYKAdminBundle:Client:_buttons.html.twig" with {'buttons': ['search_help', 'new_client']} %}
                    {% endif %}

                    <h1 class="client left">{{ 'Ügyfelek'|trans }}</h1>
                    {% include "JCSGYKAdminBundle:Elements:quicksearch.html.twig" %}
                </div>
                <div id="search-info" class="info">
                    <p>A gyorskereső mezőben ügyfélszám (ügyiratszám), név, TAJ szám vagy utcanév és házszám szerint is kereshet.</p>
                    <p>Ügyfélszám vagy TAJ szám esetében csak számokat írjon be, vagy a pontos ügyiratszám formátumot használja ({{ {'case_year': 2013, 'case_number': 1, 'type': client_type}|casenum }})!</p>
                    <p>Házszámra való keresés esetében a számnak mindig utolsóként kell szerepelni, és pontosan kell
                       megadni a házszámot (Pl 'Üllői 54-56').<br>
                       A szám végére *-ot téve résztalálatokra is kereshet.<br>
                       (Pl: Üllői 66*)</p>
                </div>
                <div id="search-results">
                </div>
            </div>

            <div id="clientblock" tabindex="200"><div class="leftpad rightpad fullheight">
                <form action="{{ path('client_view') }}" method="post" name="getclientform" id="getclientform"></form>
                <div class="loading">
                    Betöltés...
                </div>
                <div class="clientcontent">
                    {%- if client_id is defined  and client_id %}
                        {% render(controller('JCSGYKAdminBundle:Client:view', {'id': client_id})) %}
                    {% endif -%}
                </div>
            </div></div>

            <div id="problemblock" tabindex="300"><div class="leftpad rightpad fullheight">
                <form action="{{ path('problem_view') }}" method="post" name="getproblemform" id="getproblemform"></form>
                <div class="loading">
                    Betöltés...
                </div>
                <div class="problemcontent">
                    {%- if problem_id is defined  and problem_id %}
                        {% render(controller('JCSGYKAdminBundle:Problem:view', {'id': problem_id})) %}
                    {% endif -%}
                </div>
            </div></div>

            <div id="eventblock" tabindex="400"><div class="leftpad rightpad fullheight">
                <form action="{{ path('event_view') }}" method="post" name="geteventform" id="geteventform"></form>
                <div class="loading">
                    Betöltés...
                </div>
                <div class="eventcontent"></div>
            </div></div>

            <div id="rightspacerblock"></div>
        </div>
    </div>
    {% include "JCSGYKAdminBundle:Dialog:container.html.twig" %}
{% endblock %}