<div id="client-id" data-clientid="{{ client.id }}"></div>

{% render(controller('JCSGYKAdminBundle:Menu:client', { 'client': client })) %}

{% if client.isArchived %}
<div class="archived">Archivált adatlap, csak olvasható!</div>
{% endif %}
{% include "JCSGYKAdminBundle:Client:_personal_data.html.twig" %}
{% if client.type == 2 %} {# if (is_granted('ROLE_FAMILY_HELP') or is_granted('ROLE_CHILD_WELFARE')) and #}
<div id="parent_container" data-url="{{ path('client_parents', {'id': client.id}) }}">
    {% include "JCSGYKAdminBundle:Client:_parents.html.twig" %}
</div>
{% endif %}
<div class="problem_container" data-url="{{ path('client_problems', {id: client.id}) }}">
    {% include "JCSGYKAdminBundle:Client:_problems.html.twig" %}
</div>

{#{% if is_granted('ROLE_FAMILY_HELP') or is_granted('ROLE_CHILD_WELFARE') %}#}
    {% include "JCSGYKAdminBundle:Client:_ids.html.twig" %}
    {% include "JCSGYKAdminBundle:Client:_other_data.html.twig" %}
{#{% endif %}#}

{% include "JCSGYKAdminBundle:Client:_note.html.twig" with {item: client} %}
{% include "JCSGYKAdminBundle:Client:_tags.html.twig" with {item: client} %}
{% include "JCSGYKAdminBundle:Client:_archive.html.twig" %}

{#<div class="toppad10">
    {% include "JCSGYKAdminBundle:Client:_buttons.html.twig" with {'buttons': ['archive', 'edit']} %}
    <div class="clear"></div>
</div>#}

{% include "JCSGYKAdminBundle:Elements:inflash.html.twig" %}