{% extends 'JCSGYKAdminBundle::layout.html.twig' %}

{% block title %}Családsegítő Admin{% endblock %}

{% block content %}
    {% if debug is defined %}
        {{ debug }}<br>
    {% endif %}
    
    {% if inquiry_types is defined %}
    <ul class="inquiry">
        <h2>{{ 'érdeklődés regisztráció'|trans }}</h2>
    {% for item in inquiry_types %}
        <li><a href="{{ path('register_inquiry', {'type': item.id}) }}">{{ item.name }}</a></li>
    {% endfor %}
    </ul>
    {% endif %}

    <div class="leftcontent">
        {% include "JCSGYKAdminBundle:Elements:search.html.twig" %}
        <div id="search-results">
            A fenti kereső mezőben ügyfélszám, név vagy utcanév alapján kereshet.
        </div>
    </div>

    <div class="clear"></div>
{% endblock %}