{% extends 'JCSGYKAdminBundle::layout.html.twig' %}

{% block title %}Családsegítő Admin{% endblock %}

{% block content %}
    {% if debug is defined %}
        {{ debug }}<br>
    {% endif %}
    <div class="contentwrapper">
        <div class="contentscroller">
            <div id="searchblock">
                {% include "JCSGYKAdminBundle:Elements:search.html.twig" %}
                <div id="search-results">
                    A gyorskereső mezőben ügyfélszám, név, tajszám vagy utcanév és házszám szerint is kereshet.
                </div>
            </div>

            <div id="personblock"><div class="leftpad20">
                <div class="close"></div>
                <form action="{{ path('get_person') }}" method="post" name="getpersonform" id="getpersonform">
                    <input type="hidden" name="id">
                </form>
                <div class="loading">Betöltés...</div>
                <div class="personcontent"></div>
            </div></div>

            <div id="problemblock" style="display:block;"><div class="leftpad20">
                <div class="close"></div>
                problem!
            </div></div>
        </div>
    </div>
{% endblock %}