{% extends 'JCSGYKAdminBundle::layout.html.twig' %}

{% block title %}Családsegítő Admin{% endblock %}

{% block content %}
<div id="search_results">
</div>

<ul class="inquiry">
    <h2>{{ 'érdeklődés regisztráció'|trans }}</h2>
{% for item in inquiry_types %}
    <li><a href="{{ path('register_inquiry', {'type': item.id}) }}">{{ item.name }}</a></li>
{% endfor %}
</ul>
<div class="clear"></div>

{% endblock %}