{% extends 'JCSGYKAdminBundle::layout.html.twig' %}

{% block title %}Családsegítő Admin{% endblock %}

{% block content %}
    {% if debug is defined %}
        {{ debug }}<br>
    {% endif %}
        
    <div class="leftcontent">
        {% include "JCSGYKAdminBundle:Elements:search.html.twig" %}
        <div id="search-results">
            A fenti kereső mezőben ügyfélszám, név vagy utcanév alapján kereshet.
        </div>
    </div>

    <div class="clear"></div>
    
    <div class="modal" id="persondata">
        <form action="{{ path('get_person') }}" method="post" name="getpersonform" id="getpersonform">
            <input type="hidden" name="id">
        </form>        
        <div class="loading">Betöltés...</div>
        <div class="modalcontent"></div>
    </div>

{% endblock %}