imports:
    - { resource: parameters.yml }
    - { resource: security.yml }
    - { resource: "@JCSGYKAdminBundle/Resources/config/version.yml" }
    - { resource: "@JCSGYKAdminBundle/Resources/config/parameters.yml" }

framework:
    #esi:             ~
    translator:      { fallback: %locale% }
    secret:          %secret%
    router:
        resource: "%kernel.root_dir%/config/routing.yml"
        strict_requirements: %kernel.debug%
    form:            true
    csrf_protection: true
    validation:      { enable_annotations: true }
    templating:      { engines: ['twig'], assets_version: %app.version% }
    default_locale:  %locale%
    trusted_proxies: ~
    session:
        save_path: null
        cookie_lifetime: 14400

# Twig Configuration
twig:
    debug:            %kernel.debug%
    strict_variables: %kernel.debug%
    globals:
        version: %app.version%

# Assetic Configuration
assetic:
    debug:          %kernel.debug%
    use_controller: false
    bundles:        [JCSGYKAdminBundle]
    #java: /usr/bin/java
    filters:
        cssrewrite: ~
        coffee:
            bin: /usr/local/bin/coffee
            node: /usr/local/bin/node
            apply_to: "\.coffee$"
            bare: true
        #closure:
        #    jar: %kernel.root_dir%/Resources/java/compiler.jar
        #yui_css:
        #    jar: %kernel.root_dir%/Resources/java/yuicompressor-2.4.7.jar

# Doctrine Configuration
doctrine:
    dbal:
        default_connection:       default
        connections:
            default:
                driver:   %database_driver%
                host:     %database_host%
                port:     %database_port%
                dbname:   %database_name%
                user:     %database_user%
                password: %database_password%
                charset:  UTF8
            csaszir:
                driver:   pdo_sqlite
                dbname:   main
                path:     %kernel.root_dir%/../src/JCSGYK/DbimportBundle/db/csaszir.db
                user:     root
                password: null
    orm:
        auto_generate_proxy_classes: %kernel.debug%
        auto_mapping: true
#        default_entity_manager: default
#        entity_managers:
#            default:
#                connection: default
#                mappings:
#                  FOSUserBundle: ~
#                  JCSGYKAdminBundle: ~
#            csaszir:
#                connection: csaszir
#                mappings:
#                  JCSGYKDbimportBundle: ~
        dql:
            datetime_functions:
                date_format: JCSGYK\AdminBundle\DQL\DateFormat

# Swiftmailer Configuration
swiftmailer:
    transport: %mailer_transport%
    host:      %mailer_host%
    username:  %mailer_user%
    password:  %mailer_password%
    spool:     { type: memory }

stof_doctrine_extensions:
    default_locale: hu_HU
    orm:
        default:
            timestampable: true

fos_user:
    db_driver: orm
    firewall_name: main
    user_class: JCSGYK\AdminBundle\Entity\User

doctrine_migrations:
    dir_name: %kernel.root_dir%/DoctrineMigrations
    namespace: Application\Migrations
    table_name: migration_versions
    name: Application Migrations