{% extends 'JCSGYKAdminBundle::layout.html.twig' %}

{% block title %}Családsegítő Admin{% endblock %}

{% block content %}
    {% if debug is defined %}
        {{ debug }}<br>
    {% endif %}
    <div class="contentwrapper">
        <div class="contentscroller">
            <div id="searchblock">
                {% include "JCSGYKAdminBundle:Elements:quicksearch.html.twig" %}
                <div id="search-results">
                    <p><br></p>
                    <p>A gyorskereső mezőben ügyfélszám, név, TAJ szám vagy utcanév és házszám szerint is kereshet.</p>
                    <p>Ügyfélszám vagy TAJ szám esetében csak számokat írjon be!</p>
                    <p>Házszámra való keresés esetében a számnak mindig utolsóként kell szerepelni, és pontosan kell
                       megadni a házszámot (Pl 'Üllői 54-56').<br>
                       A szám végére *-ot téve résztalálatokra is kereshet. (Pl: Üllői 66*)</p>
                </div>
            </div>

            <div id="personblock"><div class="leftpad20 fullheight">
                <div class="close">x</div>
                <form action="{{ path(view_route) }}" method="post" name="getpersonform" id="getpersonform">
                    <input type="hidden" name="id">
                </form>
                <div class="loading">Betöltés...</div>
                <div class="personcontent"></div>
            </div></div>

            <div id="problemblock" ><div class="leftpad20 fullheight">
                <div class="close">x</div>
                problem!
            </div></div>
        </div>
    </div>
{% endblock %}