<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Családsegítő Admin{% endblock %}</title>
        <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block content %}
        {% endblock %}
        {% block javascripts %}
             {#<script src="{{ asset('/bundles/livephp/js/livephp.js') }}" type="text/javascript"></script>#}
        {% endblock %}
    </body>
</html>
