{# Edit Catering #}
<div class="client-sub">{{ 'heti rendelési sablon'|trans }}</div>
{% set week = ['hétfő', 'kedd', 'szerda', 'csütörtök', 'péntek', 'szombat', 'vasárnap'] %}
<div class="toppad">
    {% for index, day in week %}
        <div class="day-of-week {% if index > 4 %} weekend{% endif %}">
            <label>{{ day }}<br>
                <input type="checkbox" name="order_{{ index }}" {% if client.catering.subscriptions[index] is defined and client.catering.subscriptions[index] %}checked="checked"{% endif %}>
            </label>
        </div>
    {% endfor %}
    <div class="clear"></div>
</div>
