{# Edit Catering #}
<div class="client-sub">{{ 'heti rendelési sablon'|trans }}</div>
{% set week = ['hétfő', 'kedd', 'szerda', 'csütörtök', 'péntek', 'szombat', 'vasárnap'] %}
<div class="toppad">
    {% for index, day in week %}
        <div class="day-of-week {% if index > 4 %} weekend{% endif %}">
            <label>{{ day }}<br>
                <input type="checkbox" value="1" name="catering[subscriptions][{{ index }}]" {% if client.catering.subscriptions[index] is defined and client.catering.subscriptions[index] %}checked="checked"{% endif %}>
            </label>
        </div>
    {% endfor %}
    <div class="clear"></div>
    <div class="day-selectors">
        <a href="#" data-days="[1,1,1,1,1,0,0]">&boxtimes; munkanapok</a>
        <a href="#" data-days="[0,0,0,0,0,1,1]">&boxtimes; hétvége</a>
        <a href="#" data-days="[1,1,1,1,1,1,1]">&boxtimes; teljes hét</a>
    </div>
</div>
