{% for item in menu %}
    {% if item.on %}
        <a href="{{ path('reports', {'report': item.slug}) }}"
           class="menuitem {% if item.slug == report %}current{% endif %}"
           {% if item.id is defined %}id="{{ item.id }}"{% endif %}>
            {{ item.label|trans() }}
        </a>
    {% endif %}
{% endfor %}
