.import_controls dt {
    width: 150px;
    height: 30px;
    padding: 0 0 0 10px;
    margin: 0 0 6px 0;
    line-height: 30px;
    float: left;
    clear: left;
    background-color: #eee;
}

.import_controls dd {
    width: 420px;
    height: 27px;
    padding: 3px 6px 0 0;
    margin: 0 0 6px 0;
    float: left;
    clear: right;
    background-color: #eee;
}