.import_controls dt {
    width: 150px;
    height: 35px;
    padding: 0 0 0 10px;
    margin: 0 0 6px 0;
    line-height: 35px;
    float: left;
    clear: left;
    background-color: #f5f5f5;
    color: #444;
}

.import_controls dd {
    width: 420px;
    height: 32px;
    padding: 3px 6px 0 0;
    margin: 0 0 6px 0;
    float: left;
    clear: right;
    background-color: #f5f5f5;
    font-size: 13px;
}