{% extends 'JCSGYKAdminBundle::layout.html.twig' %}

{% block title %}Családsegítő Admin{% endblock %}

{% block content %}
    {% if debug is defined %}
        {{ debug }}<br>
    {% endif %}
    <div class="contentwrapper">
        Welcome!
    </div>
{% endblock %}