{% extends 'JCSGYKAdminBundle:Settings:index.html.twig' %}

{% block settings_content %}

<div class="template-top">
    <h1 class="client">{{ 'Számlázás'|trans }}</h1>
</div>
<div class="clear"></div>
{% endblock %}