{% extends 'JCSGYKAdminBundle:Settings:index.html.twig' %}

{% block settings_content %}

{% if name == 'cateringcosts' %}
    {% include "JCSGYKAdminBundle:Admin:cateringcosts.html.twig" with {options: options} %}
{% endif %}

{% if name == 'holidays' %}
    {% include "JCSGYKAdminBundle:Admin:holidays.html.twig" with {options: options} %}
{% endif %}

<div class="clear"></div>
{% endblock %}