{% extends 'JCSGYKAdminBundle:Settings:index.html.twig' %}

{% block settings_content %}

{% if name == 'catering_costs' %}
    {% include "JCSGYKAdminBundle:Admin:cateringcosts.html.twig" with {options: options} %}
    {# {% block cateringcosts_content %}{% endblock %} #}
{% endif %}

<div class="clear"></div>
{% endblock %}