{% extends 'JCSGYKAdminBundle:Settings:index.html.twig' %}

{% block settings_content %}
    <h1 class="client">{{ 'Paraméterek'|trans }}</h1>

    {% if not sys %}
        {% include "JCSGYKAdminBundle:Admin:ct_tabs.html.twig" %}
    {% endif %}

    {% if not sys %}
        <div class="admin-panes">
        {% for ct_id, ct in client_types %}
            <div id="admin-pane-{{ ct_id }}" class="admin-pane" data-ctid="{{ ct_id }}">
                <br>
                {% include "JCSGYKAdminBundle:Admin:paramedit.html.twig" with {'ct_id': ct_id} %}

            </div>
        {% endfor %}
        </div>
    {% else %}
        {% include "JCSGYKAdminBundle:Admin:paramedit.html.twig" %}
    {% endif %}

    {# template for new parameter form #}
    <div id="newparam-template">
        <div class="param newparam">
            <input type="hidden" name="parameter[%pos%][position]" value="%pos%">
            <input type="hidden" name="parameter[%pos%][group]" value="%grp%">
            <span class="pos"> </span>
            <input type="text" value="" name="parameter[%pos%][name]">
            <input type="checkbox" checked="checked" name="parameter[%pos%][isActive]" value="1">
        </div>
    </div>

    <div class="clear"></div>
{% endblock %}