{% extends 'JCSGYKAdminBundle::layout.html.twig' %}

{% block title %}Családsegítő Admin{% endblock %}

{% block content %}
    {% if debug is defined %}
        {{ debug }}<br>
    {% endif %}
    Welcome!

    {% if is_granted(['ROLE_ASSISTANCE']) %}
    <div class="inquiry-stats" data-action="{{ path('inquiry_stat') }}">
        {% render(controller('JCSGYKAdminBundle:Assistance:inquiryStat')) %}
    </div>
    {% endif %}
{% endblock %}