<form action="" method="POST" name="start">
<input type="hidden" name="tab" value="2">
<fieldset>
    <legend>Data randomizer</legend>
    <dl class="import_controls">
        <dt>1) Clients</dt>
        <dd>
            <button type="submit" class="button" name="import" value="random" onclick="return confirm('{{ 'Biztos benne?'|trans() }}')"> &nbsp; Randomize All &nbsp; </button>
            {% if results.random is defined %}
                {{ results.random }}
            {% endif %}
        </dd>
    </dl>
</fieldset>
</form>