{% extends 'JCSGYKAdminBundle:Settings:index.html.twig' %}

{% block settings_content %}

{% stylesheets output='css/dbimport.css' combine=true '@JCSGYKDbimportBundle/Resources/public/css/dbimport.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
<h1 class="client">DB Import </h1>
<br>
<ul id="dbimport-tabs" class="tabs">
	<li><a href="#">Józsefváros</a></li>
	<li><a href="#">Ferencváros</a></li>
	<li><a href="#">Randomizer</a></li>
</ul>
<div class="panes">
    <div>
        {% include "JCSGYKDbimportBundle:Default:_jozsefvaros.html.twig" %}
    </div>
    <div>
        {% include "JCSGYKDbimportBundle:Default:_ferencvaros.html.twig" %}
    </div>
    <div>
        {% include "JCSGYKDbimportBundle:Default:_randomizer.html.twig" %}
    </div>
</div>

{% if reload.script is defined %}
    <script>
        setTimeout(function() {
            $("#{{ reload.script }}").click();
        }, 1000);
    </script>
{% endif %}
<script>
    setTimeout(function() {
        $("ul.tabs").tabs("div.panes > div", {
            initialIndex: {{ tab }}
        });
    }, 10);
</script>
{% endblock %}
