<!DOCTYPE html>
<html>
    <head>
        {% include "JCSGYKAdminBundle:Elements:head.html.twig" %}
    </head>
    <body>
        <div id="container">
            {% include "JCSGYKAdminBundle:Elements:flash.html.twig" %}
            {% include "JCSGYKAdminBundle:Elements:top.html.twig" %}
            <div id="content">
                {% block content %}{% endblock %}
            </div>
            <div class="clear"></div>
        </div>
        {% include "JCSGYKAdminBundle:Elements:footer.html.twig" %}
    </body>
</html>