<!DOCTYPE html>
<html>
    <head>
        {% include "JCSGYKAdminBundle:Elements:head.html.twig" %}
    </head>
    <body>
        <div>
            {% block content %}
            {% endblock %}
        </div>
        {% include "JCSGYKAdminBundle:Elements:footer.html.twig" %}
    </body>
</html>
