<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Családsegítő Admin{% endblock %}</title>
        <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
        {% stylesheets 
            '@JCSGYKAdminBundle/Resources/public/css/reset.css'
            '@JCSGYKAdminBundle/Resources/public/css/style.css'            
            '@JCSGYKAdminBundle/Resources/public/css/login.css' 
        %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    </head>
    <body>
        <div id="mainlogin">
            {% block content %}
            {% endblock %}
        </div>
        <footer id="colophon" role="contentinfo">
            <div class="credits">
                &copy; <a href="http://jcsgyk.hu" target="_blank">JCSGYK</a> | Fejlesztette: <a href="http://bencemeszaros.com" target="_blank">Mészáros Bence</a>
            </div>
        </footer><!-- #colophon -->
        {% block javascripts %}
            {% if app.environment == 'dev' %} 
                <script src="{{ asset('/bundles/livephp/js/livephp.js') }}" type="text/javascript"></script>
            {% endif %}
        {% endblock %}
    </body>
</html>
