Problem:
    type: entity
    table: problem
    fields:
        id:
            id: true
            type: integer
            unsigned: false
            nullable: false
            generator:
                strategy: IDENTITY
        clientId:
            type: integer
            unsigned: false
            nullable: false
            column: client_id
        title:
            type: string
            length: 255
            fixed: false
            nullable: true
        description:
            type: text
            nullable: true
        type:
            type: smallint
            nullable: true
        isActive:
            type: boolean
            nullable: true
            column: is_active
        createdAt:
            type: datetime
            nullable: true
            column: created_at
        createdBy:
            type: integer
            unsigned: false
            nullable: true
            column: created_by
        modifiedAt:
            type: datetime
            nullable: true
            column: modified_at
        modifiedBy:
            type: integer
            unsigned: false
            nullable: true
            column: modified_by
        assignedTo:
            type: integer
            unsigned: false
            nullable: true
            column: assigned_to
        closedBy:
            type: integer
            unsigned: false
            nullable: true
            column: closed_by
        closedAt:
            type: datetime
            nullable: true
            column: closed_at
        closeCode:
            type: integer
            unsigned: false
            nullable: true
            column: close_code
        confirmedBy:
            type: integer
            unsigned: false
            nullable: true
            column: confirmed_by
        confirmedAt:
            type: datetime
            nullable: true
            column: confirmed_at
        openedBy:
            type: integer
            unsigned: false
            nullable: true
            column: opened_by
        attachment:
            type: string
            length: 255
            fixed: false
            nullable: true
        isDeleted:
            type: boolean
            nullable: true
            column: is_deleted
    lifecycleCallbacks: {  }
