UtilityproviderClientnumber:
    type: entity
    table: utilityprovider_clientnumber
    fields:
        id:
            id: true
            type: integer
            unsigned: false
            nullable: false
            generator:
                strategy: IDENTITY
        clientId:
            type: integer
            unsigned: false
            nullable: false
            column: client_id
        utilityproviderId:
            type: integer
            unsigned: false
            nullable: true
            column: utilityprovider_id
        value:
            type: string
            length: 60
            fixed: false
            nullable: true
    lifecycleCallbacks: {  }
