.inquiry {
    float: right;
    width: 300px;
}
.inquiry h2 {
    text-align: center;
    font: 16px "Optima Regular", "Optima Regular IE";
    margin: 4px 0 0 0;
    border-bottom: 1px solid #c2b39f;    
}
.inquiry li {
    display: block;
    margin: 20px 0 0 0;
    height: 62px;
    border-radius: 5px;
    box-shadow: 0 4px 1px #ffc700 inset;
    background-color: #eec123;

    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eec123), to(#d3a70e));
    background: -webkit-linear-gradient(top, #eec123, #d3a70e);
    background: -moz-linear-gradient(top, #eec123, #d3a70e);
    background: -ms-linear-gradient(top, #eec123, #d3a70e);
    background: -o-linear-gradient(top, #eec123, #d3a70e);    
}
.inquiry li a {
    display: block;
    padding: 12px 0 0 0;
    height: 50px;
    text-align: center;
    font: 30px "Optima Regular", "Optima Regular IE";
    color: #fff;
    border-radius: 5px;
}    
.inquiry li a:hover {
    color: #000;
}
.inquiry a:active {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d3a70e), to(#eec123));
    background: -webkit-linear-gradient(bottom, #eec123, #d3a70e);
    background: -moz-linear-gradient(bottom, #eec123, #d3a70e);
    background: -ms-linear-gradient(bottom, #eec123, #d3a70e);
    background: -o-linear-gradient(bottom, #eec123, #d3a70e);
}

.modal {
    background-color:#fff;
    display:none;
    width:650px;
    height: 300px;
    padding:15px;
    text-align:left;
    border: 1px solid #333;

    /*opacity:0.8;*/
    border-radius: 5px;
    box-shadow: 0 0 50px #ccc;
}

#persondata .close {
    background-image:url(/bundles/jcsgykadmin/images/close.png);
    position:absolute;
    right:-15px;
    top:-15px;
    cursor:pointer;
    height:35px;
    width:35px;
}

#persondata .loading {
    height: 95%;
    background: url('/bundles/jcsgykadmin/images/ajax-loader3.gif') no-repeat center center;
}
#persondata .modalcontent, #persondata #getpersonform {
    display: none;
}
