/* Headers */
#header {
    background-color: #e6e6e6;
    border-bottom: 1px solid #c7baac;
}
#header .headright {
    float: right;
    line-height: 23px;
    color: #888;
    font-size: 13px;
    padding: 2px 4px 0 0;
}
#header .headright .username {
    color: #555;
}
#header .headright .username:hover {
    /*background-color: #c2b39f;*/
}
#header .headright a.logout {
    padding: 1px 6px;
    color: #333;
    border: 1px solid transparent;
}
#header .headright a.logout:hover {
    border-color: #d6cab9;
    color: #000;
    box-shadow: 0 0 1px 1px #ddd inset, 0 0 1px 1px #fff;
}

/* Menu */
#header .menu {
    padding: 1px 0 0 0;
}
#header .menu .menutitle a {
    padding: 3px 16px 0 10px;
    color: #555;
    font: 16px "Optima Bold", "Optima Bold IE";
    float: left;
}
#header .menu .menuitems {
    float:left;
    padding: 2px;
}
#header .menu .menuitems a {
    color: #333;
    font: 14px "Optima Regular", "Optima Regular IE";
    display: inline-block;
    padding: 1px 4px;
    border-radius: 3px;
    border: 1px solid transparent;
    vartical-align: bottom;
}
#header .menu .menuitems a:hover {
    border-color: #d6cab9;
    color: #000;
    box-shadow: 0 0 1px 1px #eee inset, 0 0 1px 1px #ddd;
}
#header .menu .menuitems a.current {
    background-color: #d6d6d6;
    border-color: #d6cab9;
    color: #000;
}
#header .menu .menuitems a.current:hover {
    box-shadow: none;
}
