/* Inquiry */
.inquiry {
    text-align: right;
    border-top: 1px solid #c7baac;
    background-color: #f5f5f5;
    padding: 0 10px 1px;
}
.inquiry > span {
    text-align: right;
    font-size: 12px;
    display: inline-block;
    margin: 0 0 2px 0;
    line-height: 14px;
    vertical-align: bottom;
}
.inquiry ul {
    display: inline-block;
}
.inquiry li {
    display: inline-block;
    margin: 4px 0 2px 0;
    vertical-align: bottom;
}