
/* Quicksearch */
.quicksearch {
    padding: 10px 0 0 0;
    width: 470px;
}
.searchfield {
    background-color: #FBFBFB;
    border: 1px solid #c2b39f;
    border-radius: 2px;
    box-shadow: 1px 1px 2px rgba(200, 200, 200, 0.8) inset;
    outline:none;
}
.searchfield-container {
    padding: 0;
    margin: 0;
    position: relative;
}
.quicksearch input[type=text]{
    width: 420px;
    height: 20px;
    width: 370px;
    font: 16px Arial,Helvetica;
    padding: 4px 8px 3px;
    color: #555;
}
.quicksearch input:-ms-input-placeholder {
    color: #bbb;
    font-style: italic;
}
.quicksearch input:-moz-placeholder {
    color: #bbb;
    font-style: italic;
}
.quicksearch input::-webkit-input-placeholder
{
    color: #bbb;
    font-style: italic;
}
.quicksearch button.searchbutton {
    width: 60px;
    height: 29px;
    border: 1px solid #c2b39f;
    border-radius: 2px;
    box-shadow: 0 2px 0 #ffc700 inset;
    background-color: #eec123;
    text-align: center;
    margin: 0 0 0 12px;
    padding: 0;
    display: inline-block;

    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eec123), to(#d3a70e));
    background: -webkit-linear-gradient(top, #eec123, #d3a70e);
    background: -moz-linear-gradient(top, #eec123, #d3a70e);
    background: -ms-linear-gradient(top, #eec123, #d3a70e);
    background: -o-linear-gradient(top, #eec123, #d3a70e);    
}
.quicksearch .searchbutton span.searchicon {
    background: url('/bundles/jcsgykadmin/images/sprs.png') no-repeat 0 0;
    width: 13px;
    height: 13px;
    display: inline-block;
}
.quicksearch .searchbutton:hover span.searchicon {
    background: url('/bundles/jcsgykadmin/images/sprs.png') no-repeat -34px 0;
}

/* Nicefield */
.nf-container {
    padding: 0;
    margin: 0;
    position: relative;
    float: left;
}
.nf-indicator {
    position: absolute;
    display: none;
    right: 8px;
    top: 0px;
    width: 16px;
    height: 28px;
    background: url('/bundles/jcsgykadmin/images/nf-loader.gif') no-repeat center center;    
}
.nf-clear {
    position: absolute;
    display: block;
    right: 0px;
    top: 0px;
    width: 25px;
    height: 25px;
    background: url('/bundles/jcsgykadmin/images/nf-clear.png') no-repeat center center;    
    cursor: pointer;
    opacity: 0.8;
}
.nf-clear:hover {
    opacity: 1;
}