@charset "utf-8";
@font-face {
	font-family: "Optima Regular";
	src: url("../images/font/optimah_regular-webfont.ttf");
}
@font-face {
	font-family: "Optima Regular IE";
	src: url("../images/font/optimah_regular-webfont.eot");
} /* IE */
@font-face {
	font-family: "Optima Bold";
	src: url("../images/font/optimah_bold-webfont.ttf");
}
@font-face {
	font-family: "Optima Bold IE";
	src: url("../images/font/optimah_bold-webfont.eot");
} /* IE */
@font-face {
	font-family: "Optima Italic";
	src: url("../images/font/optimah_italic-webfont.ttf");
}
@font-face {
	font-family: "Optima Italic IE";
	src: url("../images/font/optimah_italic_webfont.eot");
} /* IE */
@font-face {
	font-family: "Optima Bold Italic";
	src: url("../images/font/optimah_bold_italic-webfont.ttf");
}
@font-face {
	font-family: "Optima Bold Italic IE";
	src: url("../images/font/optimah_bold_italic-webfont.eot");
} /* IE */

html {
    height: 100%;
}
body {
    height: 100%;
    background-color: #FFF;
    font-family: "Trebuchet MS";
    /*font-family: "Optima Regular", "Optima Regular IE";*/
}
a {
    text-decoration: none;
}
.clear {
    clear:both;
}
#container {
    min-height: 100%;
    margin: 0 0 -28px 0;
}

/* Footer */
footer#colophon {
    height: 22px;
    text-align: center;
    padding: 6px 0 0 0;
}
footer#colophon .credits, footer#colophon .credits a {
    font: 12px "Optima Regular", "Optima Regular IE";
    color: #888;
}
footer#colophon .credits a:hover {
    color: #333;
}



/* Content */
#content {
    background-color: #fff;
    padding: 14px 20px 40px;
}
#content .breadcrumb, #content .breadcrumb a {
    font: 14px "Optima Regular", "Optima Regular IE";
    color: #666;
}
#content .breadcrumb a:hover {
    color: #000;
}
#content .breadcrumb {
    display: inline-block;
    margin: 4px 0 10px 0;
    border-bottom: 1px solid #c2b39f;
}

.flashbag, .ajaxbag {
    position: relative;
    text-align: center;
}
.flashbag div, .ajaxbag div {
    padding: 5px 30px;
    border-radius: 3px;
    position: absolute;
    z-index: 1000;
    left: 50%;
}
.ajaxbag div {
    display: none;
}
.ajaxbag div.ajax-loader {
    top: 0px;
}
.flashbag div.flash-notice, .ajaxbag div.ajax-notice {
    color: #fff;
    background-color: #33e620;
    top: 18px;
}

/* ajax bgs */
.ajax-loading2 {
    background: url('../images/ajax-loader2.gif') no-repeat center center;
    text-indent: -2000px;
    overflow: hidden;
    cursor: wait;
}
.ajax-loading3 {
    background: url('../images/ajax-loader3.gif') no-repeat 395px 10px;
}

/* blocks */
.contentwrapper {
    overflow: auto;
    width: 100%;
}
.contentscroller {
    width: 100%;
}
.contentscroller .close {
    background-image:url(../images/close.png);
    position:absolute;
    right:0px;
    top:0px;
    cursor:pointer;
    height:36px;
    width:36px;
}

#searchblock {
    width: 45%;
    min-width: 470px;
    float: left;
}
#personblock, #problemblock {
    width: 45%;
    min-width: 470px;
    /*margin: 0 0 0 20px;*/
    float: left;
    height: 100%;
    overflow: auto;
    position: relative;
    display: none;
}

#personblock .loading {
    color: #666;
    height: 95%;
    background: url('../images/ajax-loader3.gif') no-repeat center center;
    display: none;
}
#personblock .personcontent, #personblock #getpersonform {
    display: none;
}

/* search */
.nothing-found {
    color: #333;
}
#search-results {
    margin: 10px 0 0 0;
    padding: 0 20px 0 0;
    color: #039;
    overflow: auto;
    height: 500px;
}
#search-results table {
    width: 100%;
}
#search-results th {
    font-size: 16px;
    font-weight: normal;
    color: #039;
    border-bottom: 2px solid #6678B1;
    padding: 8px;
}
#search-results td {
    padding: 6px 8px;
    font-size: 14px;
    color: #34a;
    border-bottom: 1px solid #CCC;
    cursor: pointer;
}
#search-results tr:hover td {
    background-color: #f5f5f5;
}
#search-results tr.current {
    background-color: #E9E0D7;
}
.search-footer {
    color: #aaa;
    font-size: 12px;
    margin: 10px 0 0 0;
}

/* Person */
h1.person {
    color: #34a;
    margin: 0 0 15px 0;
    font-weight: normal;
}
table.person {
    color: #039;
    font-size: 15px;
    width: 100%;
}
table.person th {
    color: #5661a2;
    font-weight: normal;
    padding: 6px 8px;
    border-bottom: 1px solid #CCC;
    text-align: right;
    width: 20%;
    white-space: nowrap;
}
table.person td {
    /*font-weight: bold;*/
    padding: 6px 8px;
    border-bottom: 1px solid #CCC;
}
table.person tr:hover td, table.person tr:hover th  {
    background-color: #f5f5f5;
}
.halfbox {
    float: left;
    width: 50%;
}
.rightpad {
    margin-right: 6px;
}
.leftpad {
    margin-left: 6px;
}
.leftpad20 {
    margin-left: 20px;
}
.fullheight {
    height: 100%;
}

/* Admin */
.update-output {
    margin: 10px 0 0 0;
    border: 1px solid #eee;
    padding: 3px;
    background-color: #f5f5f5;
}