@charset "utf-8";
@font-face {
	font-family: "Optima Regular";
	src: url("/bundles/jcsgykadmin/images/font/optimah_regular-webfont.ttf");
}
@font-face {
	font-family: "Optima Regular IE";
	src: url("/bundles/jcsgykadmin/images/font/optimah_regular-webfont.eot");
} /* IE */
@font-face {
	font-family: "Optima Bold";
	src: url("/bundles/jcsgykadmin/images/font/optimah_bold-webfont.ttf");
}
@font-face {
	font-family: "Optima Bold IE";
	src: url("/bundles/jcsgykadmin/images/font/optimah_bold-webfont.eot");
} /* IE */
@font-face {
	font-family: "Optima Italic";
	src: url("/bundles/jcsgykadmin/images/font/optimah_italic-webfont.ttf");
}
@font-face {
	font-family: "Optima Italic IE";
	src: url("/bundles/jcsgykadmin/images/font/optimah_italic_webfont.eot");
} /* IE */
@font-face {
	font-family: "Optima Bold Italic";
	src: url("/bundles/jcsgykadmin/images/font/optimah_bold_italic-webfont.ttf");
}
@font-face {
	font-family: "Optima Bold Italic IE";
	src: url("/bundles/jcsgykadmin/images/font/optimah_bold_italic-webfont.eot");
} /* IE */

html {
    height: 100%;
}
body {
    height: 100%;
    background-color: #FFF;
    font-family: "Trebuchet MS";
    /*font-family: "Optima Regular", "Optima Regular IE";*/
}
a {
    text-decoration: none;
}
.clear {
    clear:both;
}

#main {
    background-color: #e9e0d7;    
    height: 100%;
    margin: 0 0 -28px 0;
}
#mainlogin {
    height: 100%;
    margin: 0 0 -28px 0;
}
#leftcol {
    height: 100%;
    float: left;
    width: 210px;
    background-color: #e9e0d7;    
    border-right: 1px solid #c2b39f;    
    margin: 0 0 -28px 0;
}
#rightcol {
    margin: 0 0 -28px 210px;
    background-color: #fff;    
    height: 100%;
}
footer#colophon {
    height: 22px;
    text-align: center;
    padding: 6px 0 0 0;
}
footer#colophon .credits, footer#colophon .credits a {
    font: 12px "Optima Regular", "Optima Regular IE";
    color: #888;
}
footer#colophon .credits a:hover {
    color: #333;
}
#leftcol .logo {
    width: 210px;
    height: 100px;
    background: url('/bundles/jcsgykadmin/images/logo1.png') no-repeat -6px 0px;
}
#leftcol .logo a {
    display: block;
    height: 100px;
    overflow: hidden;
    text-indent: -500px;
}
#rightcol #header {
    height: 53px;
    background-color: #e9e0d7;    
    border-bottom: 1px solid #c2b39f;
    margin: 0 0 0 -1px;
    position: relative;
}
#rightcol #header .quicksearch {
    float: left;
    padding: 12px 0 0 30px;
    height: 36px;
}
#rightcol #header .quicksearch input[type=text] {
    width: 400px;
    height: 26px;
    background-color: #FBFBFB;
    border: 1px solid #c2b39f;
    border-radius: 3px;
    box-shadow: 1px 1px 2px rgba(200, 200, 200, 0.8) inset;
    font: 16px Arial,Helvetica;
    /*font-weight: normal;*/
    padding: 1px 10px;
    margin: 0;
    float: left;
}
#rightcol #header .quicksearch input:-ms-input-placeholder {
    color: #bbb;
    font-style: italic;
}
#rightcol #header .quicksearch input:-moz-placeholder {
    color: #bbb;
    font-style: italic;
}
#rightcol #header .quicksearch input::-webkit-input-placeholder
{
    color: #bbb;
    font-style: italic;
}
#rightcol #header .quicksearch button.searchbutton {
    width: 80px;
    height: 30px;
    border: 1px solid #c2b39f;
    border-radius: 2px;
    box-shadow: 0 2px 0 #ffc700 inset;
    background-color: #eec123;
    text-align: center;
    margin: 0 0 0 16px;
    padding: 0;
    display: inline-block;
    float: left;

    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eec123), to(#d3a70e));
    background: -webkit-linear-gradient(top, #eec123, #d3a70e);
    background: -moz-linear-gradient(top, #eec123, #d3a70e);
    background: -ms-linear-gradient(top, #eec123, #d3a70e);
    background: -o-linear-gradient(top, #eec123, #d3a70e);    
}
#rightcol #header .quicksearch .searchbutton span.searchicon {
    background: url('/bundles/jcsgykadmin/images/sprs.png') no-repeat 0 0;
    width: 13px;
    height: 13px;
    display: inline-block;
}
#rightcol #header .quicksearch .searchbutton:hover span.searchicon {
    background: url('/bundles/jcsgykadmin/images/sprs.png') no-repeat -34px 0;}
#rightcol #header .headright {
    float: right;
    padding: 18px 25px 0 0;
    color: #888;
}
#rightcol #header .headright .username {
    color: #555;
}
#rightcol #header .headright .username:hover {
    /*background-color: #c2b39f;*/
}

#leftcol .menu {
    margin: 20px 0 0 0;
    padding: 0 10px 0 10px;
    font: 16px "Optima Regular", "Optima Regular IE";
}
#leftcol .menu .mi {
    padding: 1px 0;
}
#leftcol .menu .misub {
    padding: 1px 0 1px 10px;
}
#leftcol .menu a {
    display: block;
    padding: 4px 10px;
    color: #333;
}
#leftcol .menu .misub a {
    color: #666;
    font-size: 14px;
}
#leftcol .menu a:hover {
    background-color: #c2b39f;
    color: #000;
}

#leftcol .menudivider {
    margin: 2px 0;
    height: 0px;
    border-top: 1px solid #c2b39f;
    border-bottom: 1px solid #f5f5f5;
}

#content {
    background-color: #fff;
    padding: 0px 20px 20px;
}
#content .breadcrumb, #content .breadcrumb a {
    font: 14px "Optima Regular", "Optima Regular IE";
    color: #666;
}
#content .breadcrumb a:hover {
    color: #000;
} 
#content .breadcrumb {
    display: inline-block;
    margin: 4px 0 10px 0;
    border-bottom: 1px solid #c2b39f;
}
.flashbag, .ajaxbag {
    position: relative;
    text-align: center;
}
.flashbag div, .ajaxbag div {
    padding: 5px 30px;
    border-radius: 3px;
    position: absolute;
    top: 60px;
    z-index: 1000;
    left: 50%;
}
.flash-notice, .ajax-notice {
    color: #fff;
    background-color: #33e620;
}