@charset "utf-8";
@font-face {
	font-family: "Optima Regular";
	src: url("../images/font/optimah_regular-webfont.ttf");
}
@font-face {
	font-family: "Optima Regular IE";
	src: url("../images/font/optimah_regular-webfont.eot");
} /* IE */
@font-face {
	font-family: "Optima Bold";
	src: url("../images/font/optimah_bold-webfont.ttf");
}
@font-face {
	font-family: "Optima Bold IE";
	src: url("../images/font/optimah_bold-webfont.eot");
} /* IE */
@font-face {
	font-family: "Optima Italic";
	src: url("../images/font/optimah_italic-webfont.ttf");
}
@font-face {
	font-family: "Optima Italic IE";
	src: url("../images/font/optimah_italic_webfont.eot");
} /* IE */
@font-face {
	font-family: "Optima Bold Italic";
	src: url("../images/font/optimah_bold_italic-webfont.ttf");
}
@font-face {
	font-family: "Optima Bold Italic IE";
	src: url("../images/font/optimah_bold_italic-webfont.eot");
} /* IE */

html {
    height: 100%;
}
body {
    height: 100%;
    background-color: #FFF;
    font-family: "Trebuchet MS";
    /*font-family: "Optima Regular", "Optima Regular IE";*/
}
a {
    text-decoration: none;
}
.clear {
    clear:both;
}
.right {
    text-align: right;
}
.floatright {
    float: right;
}
#container {
    min-height: 100%;
    margin: 0 0 -28px 0;
}
h1 {
    color: #34a;
    margin: 15px 0 15px 0;
    font-weight: normal;
    font-size: 23px;
}

.info {
    color: #039;
    line-height: 20px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #c8ddf1;
    padding: 30px 20px 0;
    background: url('../images/info-icon.png') no-repeat 5px 5px #edf2f6;
    margin: 20px auto;
    width: 70%;
    text-align: center;
}
.info p {
    margin-bottom: 10px;
}

/* Footer */
footer#colophon {
    height: 22px;
    text-align: center;
    padding: 6px 0 0 0;
}
footer#colophon .credits, footer#colophon .credits a {
    font: 12px "Optima Regular", "Optima Regular IE";
    color: #888;
}
footer#colophon .credits a:hover {
    color: #333;
}



/* Content */
#content {
    background-color: #fff;
    padding: 0 10px 40px;
}
#content .breadcrumb, #content .breadcrumb a {
    font: 14px "Optima Regular", "Optima Regular IE";
    color: #666;
}
#content .breadcrumb a:hover {
    color: #000;
}
#content .breadcrumb {
    display: inline-block;
    margin: 4px 0 10px 0;
    border-bottom: 1px solid #c2b39f;
}

.flashbag, .ajaxbag {
    position: relative;
    text-align: center;
}
.flashbag div, .ajaxbag div {
    padding: 5px 30px;
    border-radius: 3px;
    position: absolute;
    z-index: 1000;
    left: 50%;
}
.ajaxbag div {
    display: none;
}
.ajaxbag div.ajax-loader {
    top: 0px;
}
.flashbag div.flash-notice, .ajaxbag div.ajax-notice {
    color: #fff;
    background-color: #33e620;
    top: 18px;
}
.ajaxbag div.ajax-error {
    background-color: #e62033;
}
/* ajax bgs */
.ajax-loading3 {
    background: url('../images/ajax-loader3.gif') no-repeat 395px 10px;
}

/* blocks */
.contentwrapper {
    overflow: auto;
    width: 100%;
}
.contentscroller {
    width: 100%;
}
.contentscroller > div {
    border-top: 2px solid transparent;
    padding-top: 10px;
}
.contentscroller > div:hover {
    border-color: #ddd;
}
.contentscroller > div.current {
    border-color: #989ec2;
}
.close {
    /*background-image:url(../images/close.png);*/
    cursor:pointer;
    height:21px;
    width:24px;
    border-radius: 2px;
    border: 1px solid #ccc;
    color: #888;
    font-size: 17px;
    text-align: center;
    margin: 1px 2px 0 6px;
    padding: 1px 0 0 0;
    box-shadow: 0 0 2px 1px #ddd inset;
    display: inline-block;
}
.close:hover {
    box-shadow: 0 0 2px 1px #ddd, 0 0 2px 1px #ddd inset;
    color: #d04a37;
}
#searchblock {
    width: 45%;
    min-width: 470px;
    float: left;
    position: relative;
}
#clientblock, #problemblock, #eventblock {
    width: 45%;
    min-width: 470px;
    /*margin: 0 0 0 20px;*/
    float: left;
    height: 100%;
    overflow: auto;
    position: relative;
    display: none;
}

#clientblock .loading, #problemblock .loading, #eventblock .loading, #useredit .loading {
    color: #666;
    height: 95%;
    background: url('../images/ajax-loader3.gif') no-repeat center center;
    display: none;
}
#clientblock .clientcontent, #clientblock #getclientform, #problemblock #getproblemform, #eventblock #geteventform {
    display: none;
}

/* search */
.nothing-found {
    color: #333;
}
#search-results {
    margin: 10px 0 0 0;
    padding: 0 6px 0 0;
    color: #039;
    overflow: auto;
    height: 500px;
}
#search-results p {
    line-height: 20px;
    margin-bottom: 10px;
}
table.search-results {
    width: 100%;
}
table.search-results th {
    font-size: 15px;
    font-weight: normal;
    color: #039;
    border-bottom: 2px solid #6678B1;
    padding: 6px;
}
table.search-results td {
    padding: 5px 6px;
    font-size: 13px;
    color: #34a;
    border-bottom: 1px solid #CCC;
    cursor: pointer;
}
table.search-results tr:hover td, table.search-results tr.cursor td, .problem-list tr.cursor td {
    background-color: #f5f5f5;
}
table.search-results tr.current td, table.search-results tr.current:hover td, .problem-list tr.current td, .problem-list tr.current:hover td {
    background-color: #e6e6e6 !important;
}
.search-footer {
    color: #aaa;
    font-size: 12px;
    margin: 10px 0 0 0;
}

/* Client */
.archived {
    font-size: 13px;
    color: #d04a37;
}
h1.client {
    color: #34a;
    margin: 0 0 15px 0;
    font-weight: normal;
    font-size: 23px;
    padding: 0 0 0 15px;
}
table.client {
    color: #039;
    font-size: 13px;
    width: 100%;
}
table.client th {
    color: #5661a2;
    font-weight: normal;
    padding: 5px 6px 5px;
    border-bottom: 1px solid #DDD;
    text-align: right;
    width: 25%;
    white-space: nowrap;
}
table.client td {
    /*font-weight: bold;*/
    padding: 5px 6px 5px;
    border-bottom: 1px solid #DDD;
}
table.client tr:hover td, table.client tr:hover th  {
    background-color: #f5f5f5;
}
table.caseowner th {
    border-bottom: none;
}
table.caseowner td {
    border-bottom: none;
    color: #360;
}

.halfbox {
    float: left;
    width: 50%;
}
.rightpad {
    margin-right: 6px;
}
.leftpad {
    margin-left: 6px;
}
.leftpad20 {
    margin-left: 20px;
}
.toppad {
    margin-top: 6px;
}
.toppad10 {
    margin-top: 10px;
}
.bottompad {
    margin-bottom: 6px;
}
.bottompad25 {
    margin-bottom: 25px;
}
.fullheight {
    height: 100%;
}
.nocollapse {
    padding-top: 1px;
    margin-top: -1px;
}
.center {
    text-align: center;
}
.client-sub {
    font-size: 12px;
    color: #666;
    margin: 14px 0 0 0;
    background-color: #eee;
    text-align: center;
    padding: 2px 4px 4px;
}
.first-sub {
    margin: 0;
}
.client-comment {
    color: #444;
    font-size: 13px;
    padding: 6px 12px;
    border: 1px solid #F5F5F5;
    font-family: monospace;
}
.togglable {
    cursor: pointer;
    position: relative;
}

.togglable span {
    display: block;
    position: absolute;
    left: 7px;
    top: 7px;
    width: 7px;
    height: 4px;
    background: url('../images/sprs.png') no-repeat -52px 0px;
    opacity: 0.7;
}
.togglable span.collapsed {
    transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    opacity: 1;
}
/* Problem list */
table.problem-list th {
    text-align: left;
    width: auto;
    font-size: 13px;
    font-weight: normal;
    color: #555;
    border-bottom: 1px solid #6678B1;
}
table.problem-list tr:hover th {
    background-color: #fff;
}
table.problem-list td {
    cursor: pointer;
}
.smallopt label {
    font-size: 13px;
    color: #333;
    vertical-align: 2px;
}
.smallopt input {
    margin: 0;
}

/* Debts */
.problem-list tr.debt-sum {
}
.problem-list tr.debt-sum td {
    border-bottom: 0;
    color: #555;
}
#debt-list td, #archive-list td {
    cursor: auto;
}
/* Events */
.event-list td {
    line-height: 17px;
    padding: 3px 6px;
}
.event-description {
    color: #039;
    line-height: 19px;
    font-size: 15px;
    padding: 6px 12px;
    border: 1px solid #F5F5F5;
    margin-bottom: 15px;
}
.noinfo {
    color: #666;
    text-align: center;
    font-size: 13px;
    padding: 6px;
}

/* Admin */
.update-output {
    margin: 10px 0 0 0;
    border: 1px solid #eee;
    padding: 3px;
    background-color: #f5f5f5;
}

.adminblock {
    width: 50%;
    float: left;
}
#userlist, #useredit {
    height: 100%;
    overflow: auto;
    position: relative;
}
#useredit .loading, #useredit #getuserform {
    display: none;
}
#useredit {
    width: 50%;
    max-width: 500px;
}
.editform div {
    color: #039;
    line-height: 30px;
    font-size: 15px;
}
.editform div:hover {
    background-color: #f5f5f5;
}
.editform label {
    width: 130px;
    text-align: right;
    margin: 2px 10px 0 0;
    display: inline-block;
    vertical-align: center;
}
.editform input[type=text], .editform input[type=email], .editform input[type=datetime] {
    width: 300px;
    font-size: 15px;
    background-color: #fcfcfc;
    border: 1px solid #ccc;
    padding: 3px 5px 2px;
    color: #555;
}
.editform .readonly {
    color: #89c;
}
.editform #user_roles {
    display: inline-block;
    line-height: 16px;
    padding: 3px 10px 2px;
    border: 1px solid #ccc;
    width: 190px;
}
.editform #user_roles label {
    clear: right;
    text-align: left;
    margin: 0;
    width: 170px;
}
.editform #user_roles input[type=checkbox] {
    clear: left;
    margin: 3px 4px 3px 0;
}
.editform .formbuttons {
    margin: 20px 0 0 0;
    text-align: right;
}
.editform .formbuttons:hover {
    background-color: transparent;
}
.button, .top-button {
    border-radius: 4px;
    border: 1px solid #777;
    box-shadow: 0 2px 1px #ffc700 inset;
    height: 30px;
    padding: 0 10px 2px;
    cursor: pointer;
    color: #fff;
    font-size: 15px;

    background-color: #eec123;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eec123), to(#d3a70e));
    background: -webkit-linear-gradient(top, #eec123, #d3a70e);
    background: -moz-linear-gradient(top, #eec123, #d3a70e);
    background: -ms-linear-gradient(top, #eec123, #d3a70e);
    background: -o-linear-gradient(top, #eec123, #d3a70e);

    text-decoration: none;
    text-shadow: 0 1px 0 rgba(0,0,0,0.1);
    display: inline-block;
    vertical-align: bottom;
}
.top-button {
    line-height: 21px;
    height: 21px;
    padding: 1px 10px 0;
}
.cancel {
    background: #eee;
    box-shadow: 0 2px 1px #f5f5f5 inset;
    border-color: #bbb;
    color: #777;
    width: 100px;
}
.button:hover, .cancel:hover {
    color: #000;
}
.button-row {
    position:absolute;
    right: 10px;
    top: 10px;
}
.button-row img {
    
}
.editform .formbuttons .usersave {
    width: 100px;
    margin: 0 4px 0 20px;
}
.editform .formbuttons .form-saving {
    background: url('../images/nf-loader.gif') no-repeat center, webkit-gradient(linear, 0% 0%, 0% 100%, from(#eec123), to(#d3a70e));
    background: url('../images/nf-loader.gif') no-repeat center, -webkit-linear-gradient(top, #eec123, #d3a70e);
    background: url('../images/nf-loader.gif') no-repeat center, -moz-linear-gradient(top, #eec123, #d3a70e);
    background: url('../images/nf-loader.gif') no-repeat center, -ms-linear-gradient(top, #eec123, #d3a70e);
    background: url('../images/nf-loader.gif') no-repeat center, -o-linear-gradient(top, #eec123, #d3a70e);
    text-indent: -2000px;
    overflow: hidden;
    cursor: wait;
}
.editform > div > ul {
    color: #d04a37;
    width: 100%;
    text-align: right;
}

/* parameters */
#parameter-groups {
    width: 260px;
}
#parameter-groups ul li {
    text-align: right;
    /*line-height: 24px;*/
    border-bottom: 1px solid #CCCCCC;
    color: #3344AA;
    cursor: pointer;
    font-size: 13px;
    padding: 5px 10px;
}
#parameter-groups ul li:hover {
    background-color: #f5f5f5;
}
#parameter-groups ul li.current {
    background-color: #e6e6e6 !important;
}
#parameter-lists {
    width: 440px;
    display: none;
}
#parameter-lists .formbuttons {
    margin: 20px 0 0 0;
    text-align: right;
}
#parameter-lists .formbuttons .paramsave {
    width: 100px;
    margin: 0 4px 0 20px;
}
#parameter-lists .formbuttons .form-saving {
    background: url('../images/nf-loader.gif') no-repeat center, webkit-gradient(linear, 0% 0%, 0% 100%, from(#eec123), to(#d3a70e));
    background: url('../images/nf-loader.gif') no-repeat center, -webkit-linear-gradient(top, #eec123, #d3a70e);
    background: url('../images/nf-loader.gif') no-repeat center, -moz-linear-gradient(top, #eec123, #d3a70e);
    background: url('../images/nf-loader.gif') no-repeat center, -ms-linear-gradient(top, #eec123, #d3a70e);
    background: url('../images/nf-loader.gif') no-repeat center, -o-linear-gradient(top, #eec123, #d3a70e);
    text-indent: -2000px;
    overflow: hidden;
    cursor: wait;
}
#parameter-lists .param {
    padding: 2px;
}
#parameter-lists .param:hover {
    background-color: #f5f5f5;
}
#parameter-lists .pos {
    background: url('../images/sprs.png') no-repeat -64px 2px;
    cursor: move;
    width: 26px;
    height: 22px;
    float: left;
}
#parameter-lists input[type=text] {
    width: 330px;
}
#newparam-template {
    display: none;
}
.inquiry-stats {
    float: right;
    width: 320px
}
.stat-legend {
    float: right;
}
.stat-legend td {
    padding: 1px 2px;
}