@charset "utf-8";
@font-face {
	font-family: "Optima Regular";
	src: url("../images/font/optimah_regular-webfont.ttf");
}
@font-face {
	font-family: "Optima Regular IE";
	src: url("../images/font/optimah_regular-webfont.eot");
} /* IE */
@font-face {
	font-family: "Optima Bold";
	src: url("../images/font/optimah_bold-webfont.ttf");
}
@font-face {
	font-family: "Optima Bold IE";
	src: url("../images/font/optimah_bold-webfont.eot");
} /* IE */
@font-face {
	font-family: "Optima Italic";
	src: url("../images/font/optimah_italic-webfont.ttf");
}
@font-face {
	font-family: "Optima Italic IE";
	src: url("../images/font/optimah_italic_webfont.eot");
} /* IE */
@font-face {
	font-family: "Optima Bold Italic";
	src: url("../images/font/optimah_bold_italic-webfont.ttf");
}
@font-face {
	font-family: "Optima Bold Italic IE";
	src: url("../images/font/optimah_bold_italic-webfont.eot");
} /* IE */

html {
    height: 100%;
}
body {
    height: 100%;
    background-color: #FFF;
    font-family: "Trebuchet MS";
    /*font-family: "Optima Regular", "Optima Regular IE";*/
}
a {
    text-decoration: none;
}
.clear {
    clear:both;
}
#container {
    min-height: 100%;
    margin: 0 0 -28px 0;
}

/* Footer */
footer#colophon {
    height: 22px;
    text-align: center;
    padding: 6px 0 0 0;
}
footer#colophon .credits, footer#colophon .credits a {
    font: 12px "Optima Regular", "Optima Regular IE";
    color: #888;
}
footer#colophon .credits a:hover {
    color: #333;
}



/* Content */
#content {
    background-color: #fff;
    padding: 14px 20px 40px;
}
#content .breadcrumb, #content .breadcrumb a {
    font: 14px "Optima Regular", "Optima Regular IE";
    color: #666;
}
#content .breadcrumb a:hover {
    color: #000;
}
#content .breadcrumb {
    display: inline-block;
    margin: 4px 0 10px 0;
    border-bottom: 1px solid #c2b39f;
}

.flashbag, .ajaxbag {
    position: relative;
    text-align: center;
}
.flashbag div, .ajaxbag div {
    padding: 5px 30px;
    border-radius: 3px;
    position: absolute;
    z-index: 1000;
    left: 50%;
}
.ajaxbag div {
    display: none;
}
.ajaxbag div.ajax-loader {
    top: 0px;
}
.flashbag div.flash-notice, .ajaxbag div.ajax-notice {
    color: #fff;
    background-color: #33e620;
    top: 18px;
}
.ajaxbag div.ajax-error {
    background-color: #e62033;
}
/* ajax bgs */
.ajax-loading3 {
    background: url('../images/ajax-loader3.gif') no-repeat 395px 10px;
}

/* blocks */
.contentwrapper {
    overflow: auto;
    width: 100%;
}
.contentscroller {
    width: 100%;
}
.contentscroller .close {
    /*background-image:url(../images/close.png);*/
    position:absolute;
    right:0px;
    top:0px;
    cursor:pointer;
    height:19px;
    width:24px;
    border-radius: 2px;
    border: 1px solid #ccc;
    color: #888;
    font-size: 16px;
    text-align: center;
    margin: 2px 2px 0 0;
    box-shadow: 0 0 2px 1px #ddd inset;
}
.contentscroller .close:hover {
    box-shadow: 0 0 2px 1px #ddd, 0 0 2px 1px #ddd inset;
    color: #d04a37;
}
#searchblock {
    width: 45%;
    min-width: 470px;
    float: left;
}
#clientblock, #problemblock {
    width: 45%;
    min-width: 470px;
    /*margin: 0 0 0 20px;*/
    float: left;
    height: 100%;
    overflow: auto;
    position: relative;
    display: none;
}

#clientblock .loading {
    color: #666;
    height: 95%;
    background: url('../images/ajax-loader3.gif') no-repeat center center;
    display: none;
}
#clientblock .clientcontent, #clientblock #getclientform {
    display: none;
}

/* search */
.nothing-found {
    color: #333;
}
#search-results {
    margin: 10px 0 0 0;
    padding: 0 20px 0 0;
    color: #039;
    overflow: auto;
    height: 500px;
}
#search-results p {
    line-height: 20px;
    margin-bottom: 10px;
}
#search-results table {
    width: 100%;
}
#search-results th {
    font-size: 15px;
    font-weight: normal;
    color: #039;
    border-bottom: 2px solid #6678B1;
    padding: 6px;
}
#search-results td {
    padding: 5px 6px;
    font-size: 13px;
    color: #34a;
    border-bottom: 1px solid #CCC;
    cursor: pointer;
}
#search-results tr:hover td {
    background-color: #f5f5f5;
}
#search-results tr.current, #search-results tr.current:hover td {
    background-color: #e6e6e6;
}
.search-footer {
    color: #aaa;
    font-size: 12px;
    margin: 10px 0 0 0;
}

/* Client */
h1.client {
    color: #34a;
    margin: 0 0 15px 0;
    font-weight: normal;
    font-size: 23px;
}
table.client {
    color: #039;
    font-size: 13px;
    width: 100%;
}
table.client th {
    color: #5661a2;
    font-weight: normal;
    padding: 5px 6px 5px;
    border-bottom: 1px solid #DDD;
    text-align: right;
    width: 25%;
    white-space: nowrap;
}
table.client td {
    /*font-weight: bold;*/
    padding: 5px 6px 5px;
    border-bottom: 1px solid #DDD;
}
table.client tr:hover td, table.client tr:hover th  {
    background-color: #f5f5f5;
}
table.caseowner th {
    border-bottom: none;
}
table.caseowner td {
    border-bottom: none;
    color: #360;
}

.halfbox {
    float: left;
    width: 50%;
}
.rightpad {
    margin-right: 6px;
}
.leftpad {
    margin-left: 6px;
}
.leftpad20 {
    margin-left: 20px;
}
.fullheight {
    height: 100%;
}
.client-sub {
    font-size: 12px;
    color: #666;
    margin: 14px 0 0 0;
    background-color: #eee;
    text-align: center;
    padding: 2px 4px 4px;
}
.first-sub {
    margin: 0;
}
.client-comment {
    color: #444;
    font-size: 13px;
    padding: 6px 12px;
    border: 1px solid #F5F5F5;
    font-family: monospace;
}
.togglable {
    cursor: pointer;
    position: relative;
}

.togglable span {
    display: block;
    position: absolute;
    left: 7px;
    top: 7px;
    width: 7px;
    height: 4px;
    background: url('../images/sprs.png') no-repeat -52px 0px;
    transition: transform 0.2s;
    opacity: 0.7;
}
.togglable span.collapsed {
    transform: rotate(-90deg);
    opacity: 1;
}
/* Problem list */
table.problem-list {
    margin-top: 10px;
}
table.problem-list th {
    text-align: left;
    width: auto;
    font-size: 15px;
    font-weight: normal;
    color: #039;
    border-bottom: 1px solid #6678B1;
}
table.problem-list tr:hover th {
    background-color: #fff;
}
table.problem-list td {
    cursor: pointer;
}

/* Admin */
.update-output {
    margin: 10px 0 0 0;
    border: 1px solid #eee;
    padding: 3px;
    background-color: #f5f5f5;
}