home:
    pattern:  /
    defaults: { _controller: JCSGYKAdminBundle:Home:index }

# Clients #
clients:
    pattern:  /clients/{client_id}/{problem_id}
    defaults: { _controller: JCSGYKAdminBundle:Client:index, client_id: null, problem_id: null }
    requirements:
        client_id: \d+
client_search:
    pattern:  /clients/search/{q}
    defaults: { _controller: JCSGYKAdminBundle:Client:search, q: '' }
client_view:
    pattern:  /clients/view/{id}
    defaults: { _controller: JCSGYKAdminBundle:Client:view, id: null }
client_edit:
    pattern:  /clients/edit/{id}
    defaults: { _controller: JCSGYKAdminBundle:Client:edit, id: null }
client_new:
    pattern:  /clients/new
    defaults: { _controller: JCSGYKAdminBundle:Client:edit }
client_archive:
    pattern:  /clients/archive/{id}
    defaults: { _controller: JCSGYKAdminBundle:Client:archive, id: null }
client_problems:
    pattern:  /clients/problems/{id}
    defaults: { _controller: JCSGYKAdminBundle:Client:problems }
client_visit:
    pattern:  /clients/visit/{id}
    defaults: { _controller: JCSGYKAdminBundle:Client:visit, id: null }
client_history:
    pattern:  /clients/history/{id}
    defaults: { _controller: JCSGYKAdminBundle:Template:history }

# Templates #
templates:
    pattern:  /templates/{id}
    defaults: { _controller: JCSGYKAdminBundle:Template:make }

# Tasks #
start_task:
    pattern:  /task/start/{id}
    defaults: { _controller: JCSGYKAdminBundle:Task:start }

# Problem #
problem_view:
    pattern:  /problem/view/{id}
    defaults: { _controller: JCSGYKAdminBundle:Problem:view, id: null }
problem_edit:
    pattern:  /client/{client_id}/problem/edit/{id}
    defaults: { _controller: JCSGYKAdminBundle:Problem:edit, id: null, client_id: null  }
problem_new:
    pattern:  /client/{client_id}/problem/new
    defaults: { _controller: JCSGYKAdminBundle:Problem:edit, client_id: null }
problem_close:
    pattern:  /problem/close/{id}
    defaults: { _controller: JCSGYKAdminBundle:Problem:close, id: null }
problem_events:
    pattern:  /problem/{id}/events
    defaults: { _controller: JCSGYKAdminBundle:Problem:getEvents }
problem_delete:
    pattern:  /problem/delete/{id}
    defaults: { _controller: JCSGYKAdminBundle:Problem:delete, id: null }

# Event #
event_view:
    pattern:  /event/view/{id}
    defaults: { _controller: JCSGYKAdminBundle:Event:view, id: null }
event_edit:
    pattern:  /problem/{problem_id}/event/edit/{id}
    defaults: { _controller: JCSGYKAdminBundle:Event:edit, id: null, problem_id: null  }
event_new:
    pattern:  /problem/{problem_id}/event/new
    defaults: { _controller: JCSGYKAdminBundle:Event:edit, problem_id: null }
event_delete:
    pattern:  /event/delete/{id}
    defaults: { _controller: JCSGYKAdminBundle:Event:delete, id: null }

# Assistance #
register_inquiry:
    pattern: /inquiry/new/{type}
    defaults: { _controller: JCSGYKAdminBundle:Assistance:registerInquiry }
    requirements:
        type: \d+
inquiry_stat:
    pattern: /inquiry/stat
    defaults: { _controller: JCSGYKAdminBundle:Assistance:inquiryStat }

# Settings #
settings:
    pattern:  /settings
    defaults: { _controller: JCSGYKAdminBundle:Settings:index }

# Admin #
admin_home:
    pattern:  /admin
    defaults: { _controller: JCSGYKAdminBundle:Admin:index }
admin_users:
    pattern:  /admin/users/{id}
    defaults: { _controller: JCSGYKAdminBundle:Admin:users, id: null }
admin_params:
    pattern:  /admin/params/{group}
    defaults: { _controller: JCSGYKAdminBundle:Admin:params, group: 1 }
admin_providers:
    pattern:  /admin/providers/{id}
    defaults: { _controller: JCSGYKAdminBundle:Admin:providers, id: null }
admin_update:
    pattern:  /admin/update
    defaults: { _controller: JCSGYKAdminBundle:Admin:update }
admin_templates:
    pattern:  /admin/templates/{id}
    defaults: { _controller: JCSGYKAdminBundle:Admin:templates, id: null }
admin_templates_download:
    pattern:  /admin/templates/download/{id}
    defaults: { _controller: JCSGYKAdminBundle:Admin:templatesDownload, id: null }

login_redirector:
    pattern:   /loginredirector
    defaults: { _controller: JCSGYKAdminBundle:Menu:loginRedirector }

#login:
#    pattern:  /login
#    defaults: { _controller: JCSGYKAdminBundle:Security:login }
#login_check:
#    pattern:  /login_check
#
#logout:
#    pattern:  /logout

