home:
    pattern:  /
    defaults: { _controller: JCSGYKAdminBundle:Home:index }

# Clients #
clients:
    pattern:  /clients
    defaults: { _controller: JCSGYKAdminBundle:Client:index }
client_search:
    pattern:  /clients/search/{q}
    defaults: { _controller: JCSGYKAdminBundle:Client:search, q: '' }
client_view:
    pattern:  /clients/view/{id}
    defaults: { _controller: JCSGYKAdminBundle:Client:view, id: null }
client_edit:
    pattern:  /clients/edit/{id}
    defaults: { _controller: JCSGYKAdminBundle:Client:edit, id: null }
client_new:
    pattern:  /clients/new
    defaults: { _controller: JCSGYKAdminBundle:Client:edit }
client_archive:
    pattern:  /clients/archive/{id}
    defaults: { _controller: JCSGYKAdminBundle:Client:archive, id: null }
client_problems:
    pattern:  /clients/{id}/problems
    defaults: { _controller: JCSGYKAdminBundle:Client:getProblems }


# Problem #
problem_view:
    pattern:  /problem/view/{id}
    defaults: { _controller: JCSGYKAdminBundle:Problem:view, id: null }
problem_edit:
    pattern:  /client/{client_id}/problem/edit/{id}
    defaults: { _controller: JCSGYKAdminBundle:Problem:edit, id: null, client_id: null  }
problem_new:
    pattern:  /client/{client_id}/problem/new
    defaults: { _controller: JCSGYKAdminBundle:Problem:edit, client_id: null }
problem_close:
    pattern:  /problem/close/{id}
    defaults: { _controller: JCSGYKAdminBundle:Problem:close, id: null }

# Event #
event_view:
    pattern:  /event/view
    defaults: { _controller: JCSGYKAdminBundle:Event:view }

# Assistance #
register_inquiry:
    pattern: /inquiry/new/{type}
    defaults: { _controller: JCSGYKAdminBundle:Assistance:registerInquiry }
    requirements:
        type: \d+
inquiry_stat:
    pattern: /inquiry/stat
    defaults: { _controller: JCSGYKAdminBundle:Assistance:inquiryStat }

# Admin #
admin_home:
    pattern:  /admin
    defaults: { _controller: JCSGYKAdminBundle:Admin:index }
# Admin Users #
admin_users:
    pattern:  /admin/users/{id}
    defaults: { _controller: JCSGYKAdminBundle:Admin:users, id: 0 }
# Admin Params #
admin_params:
    pattern:  /admin/params/{group}
    defaults: { _controller: JCSGYKAdminBundle:Admin:params, group: 1 }
# Admin Systemupdate #
admin_update:
    pattern:  /admin/update
    defaults: { _controller: JCSGYKAdminBundle:Admin:update }

login_redirector:
    pattern:   /loginredirector
    defaults: { _controller: JCSGYKAdminBundle:Menu:loginRedirector }

#login:
#    pattern:  /login
#    defaults: { _controller: JCSGYKAdminBundle:Security:login }
#login_check:
#    pattern:  /login_check
#
#logout:
#    pattern:  /logout

