home:
    pattern:  /
    defaults: { _controller: JCSGYKAdminBundle:Assistance:index }
    
assistance_home:
    pattern:  /asszisztencia
    defaults: { _controller: JCSGYKAdminBundle:User:index }

family_home:
    pattern:  /csaladsegito
    defaults: { _controller: JCSGYKAdminBundle:User:index }

child_home:
    pattern:  /gyermekjolet
    defaults: { _controller: JCSGYKAdminBundle:User:index }
    
admin_home:    
    pattern:  /admin
    defaults: { _controller: JCSGYKAdminBundle:Admin:index }
admin_users:
    pattern:  /admin/users
    defaults: { _controller: JCSGYKAdminBundle:Admin:users }
  
login_redirector:
    pattern:   /loginredirector
    defaults: { _controller: JCSGYKAdminBundle:Menu:loginRedirector }
    
#login:
#    pattern:  /login
#    defaults: { _controller: JCSGYKAdminBundle:Security:login }
#login_check:
#    pattern:  /login_check
#    
#logout:
#    pattern:  /logout
    
register_inquiry:
    pattern: /register_inquiry/{type}
    defaults: { _controller: JCSGYKAdminBundle:Assistance:registerInquiry }
    requirements:
        type: \d+