home:
    pattern:  /
    defaults: { _controller: JCSGYKAdminBundle:Home:index }
home_stat:
    pattern: /stat/{type}
    defaults: { _controller: JCSGYKAdminBundle:Home:stat }

# Clients #
clients:
    pattern:  /clients/{client_type}/{client_id}/{problem_id}
    defaults: { _controller: JCSGYKAdminBundle:Client:index, client_id: null, problem_id: null }
    requirements:
        client_type: fh|cw|ca
        client_id: \d+
client_search:
    pattern:  /clients/search/{client_type}
    defaults: { _controller: JCSGYKAdminBundle:Client:search }
    requirements:
        client_type: fh|cw|ca
client_view:
    pattern:  /clients/view/{id}
    defaults: { _controller: JCSGYKAdminBundle:Client:view, id: null }
client_edit:
    pattern:  /clients/edit/{id}
    defaults: { _controller: JCSGYKAdminBundle:Client:edit, id: null }
client_new:
    pattern:  /clients/new/{client_type}
    defaults: { _controller: JCSGYKAdminBundle:Client:edit }
    requirements:
        client_type: fh|cw|ca
client_archive:
    pattern:  /clients/archive/{id}
    defaults: { _controller: JCSGYKAdminBundle:Client:archive, id: null }
client_problems:
    pattern:  /clients/problems/{id}
    defaults: { _controller: JCSGYKAdminBundle:Client:problems }
client_visit:
    pattern:  /clients/visit/{id}
    defaults: { _controller: JCSGYKAdminBundle:Client:visit, id: null }
client_history:
    pattern:  /clients/history/{id}
    defaults: { _controller: JCSGYKAdminBundle:Template:history }
client_relatives:
    pattern:  /clients/relatives/{id}
    defaults: { _controller: JCSGYKAdminBundle:Client:relatives }

# Catering #
client_catering_edit:
    pattern:  /clients/catering/edit/{id}
    defaults: { _controller: JCSGYKAdminBundle:Client:cateringEdit }
client_catering:
    pattern:  /clients/catering/{id}
    defaults: { _controller: JCSGYKAdminBundle:Client:catering }
client_orders_edit:
    pattern:  /clients/orders/edit/{id}
    defaults: { _controller: JCSGYKAdminBundle:Client:ordersEdit }
client_orders:
    pattern:  /clients/orders/{id}
    defaults: { _controller: JCSGYKAdminBundle:Client:orders }
client_invoices:
    pattern:  /clients/invoices/{id}
    defaults: { _controller: JCSGYKAdminBundle:Client:invoices }

# Relatives #
relative_edit:
    pattern:  /relative/edit/{id}/{relation_id}
    defaults: { _controller: JCSGYKAdminBundle:Client:relativeEdit }
relative_delete:
    pattern:  /relative/delete/{id}/{relation_id}
    defaults: { _controller: JCSGYKAdminBundle:Client:relativeDelete }

# Templates #
templates:
    pattern:  /templates/{id}
    defaults: { _controller: JCSGYKAdminBundle:Template:make }

# Tasks #
task_start:
    pattern:  /task/start/{id}
    defaults: { _controller: JCSGYKAdminBundle:Task:start }
task_list:
    pattern:  /task/{type}
    defaults: { _controller: JCSGYKAdminBundle:Task:list }

# Problem #
problem_view:
    pattern:  /problem/view/{id}
    defaults: { _controller: JCSGYKAdminBundle:Problem:view, id: null }
problem_edit:
    pattern:  /client/{client_id}/problem/edit/{id}
    defaults: { _controller: JCSGYKAdminBundle:Problem:edit, id: null, client_id: null  }
problem_new:
    pattern:  /client/{client_id}/problem/new
    defaults: { _controller: JCSGYKAdminBundle:Problem:edit, client_id: null }
problem_close:
    pattern:  /problem/close/{id}
    defaults: { _controller: JCSGYKAdminBundle:Problem:close, id: null }
problem_confirm:
    pattern:  /problem/confirm/{id}
    defaults: { _controller: JCSGYKAdminBundle:Problem:confirm }
problem_events:
    pattern:  /problem/{id}/events
    defaults: { _controller: JCSGYKAdminBundle:Problem:getEvents }
problem_delete:
    pattern:  /problem/delete/{id}
    defaults: { _controller: JCSGYKAdminBundle:Problem:delete, id: null }
problem_agreement:
    pattern:  /problem/agreement/{id}
    defaults: { _controller: JCSGYKAdminBundle:Problem:agreement, id: null }

# Event #
event_view:
    pattern:  /event/view/{id}
    defaults: { _controller: JCSGYKAdminBundle:Event:view, id: null }
event_edit:
    pattern:  /problem/{problem_id}/event/edit/{id}
    defaults: { _controller: JCSGYKAdminBundle:Event:edit, id: null, problem_id: null  }
event_new:
    pattern:  /problem/{problem_id}/event/new
    defaults: { _controller: JCSGYKAdminBundle:Event:edit, problem_id: null }
event_delete:
    pattern:  /event/delete/{id}
    defaults: { _controller: JCSGYKAdminBundle:Event:delete, id: null }

# Assistance #
register_inquiry:
    pattern: /inquiry/new/{event}
    defaults: { _controller: JCSGYKAdminBundle:Assistance:registerInquiry }
    requirements:
        event: \d+

# Settings #
settings:
    pattern:  /settings
    defaults: { _controller: JCSGYKAdminBundle:Settings:index }

# Admin #
admin_home:
    pattern:  /admin
    defaults: { _controller: JCSGYKAdminBundle:Admin:index }
admin_users:
    pattern:  /admin/users/{id}
    defaults: { _controller: JCSGYKAdminBundle:Admin:users, id: null }
admin_paramgroups:
    pattern:  /admin/paramgroups/{type}
    defaults: { _controller: JCSGYKAdminBundle:Admin:paramgroups, type: 0 }
admin_params:
    pattern:  /admin/params/{group}
    defaults: { _controller: JCSGYKAdminBundle:Admin:params, group: null, sys: false }
admin_systemparams:
    pattern:  /admin/sysparams/{group}
    defaults: { _controller: JCSGYKAdminBundle:Admin:params, group: null, sys: true }
admin_options:
    pattern:  /admin/options/{name}/{id}
    defaults: { _controller: JCSGYKAdminBundle:Admin:options, id: null }
admin_providers:
    pattern:  /admin/providers/{id}
    defaults: { _controller: JCSGYKAdminBundle:Admin:providers, id: null }
admin_update:
    pattern:  /admin/update
    defaults: { _controller: JCSGYKAdminBundle:Admin:update }
admin_templates:
    pattern:  /admin/templates/{id}
    defaults: { _controller: JCSGYKAdminBundle:Admin:templates, id: null }
admin_templates_download:
    pattern:  /admin/templates/download/{id}
    defaults: { _controller: JCSGYKAdminBundle:Admin:templatesDownload, id: null }
admin_companies:
    pattern:  /admin/companies/{id}
    defaults: { _controller: JCSGYKAdminBundle:Admin:companies, id: null }
admin_clubs:
    pattern:  /admin/clubs/{id}
    defaults: { _controller: JCSGYKAdminBundle:Admin:clubs, id: null }
admin_closings:
    pattern:  /admin/closings/{id}
    defaults: { _controller: JCSGYKAdminBundle:Admin:closings, id: null }
admin_dailyorders:
    pattern:  /admin/dailyorders/{id}
    defaults: { _controller: JCSGYKAdminBundle:Admin:dailyorders, id: null }
admin_recommended_fields:
    pattern:  /admin/fields_to_fill/{tab}
    defaults: { _controller: JCSGYKAdminBundle:Admin:recommendedFields, tab: 0 }

login_redirector:
    pattern:   /loginredirector
    defaults: { _controller: JCSGYKAdminBundle:Menu:loginRedirector }

#login:
#    pattern:  /login
#    defaults: { _controller: JCSGYKAdminBundle:Security:login }
#login_check:
#    pattern:  /login_check
#
#logout:
#    pattern:  /logout

# Reports #
reports:
    pattern:  /reports/{report}
    defaults: { _controller: JCSGYKAdminBundle:Reports:index, report: null }
