home:
    pattern:  /
    defaults: { _controller: JCSGYKAdminBundle:Assistance:index }

quicksearch:
    pattern:  /quicksearch
    defaults: { _controller: JCSGYKAdminBundle:Search:quick }
# Assistance #    
assistance_home:
    pattern:  /asszisztencia
    defaults: { _controller: JCSGYKAdminBundle:Assistance:index }
new_person:    
    pattern:  /uj_ugyfel
    defaults: { _controller: JCSGYKAdminBundle:Assistance:newPerson }

register_inquiry:
    pattern: /asszisztencia/reg/{type}
    defaults: { _controller: JCSGYKAdminBundle:Assistance:registerInquiry }
    requirements:
        type: \d+
get_person:
    pattern:  /getperson
    defaults: { _controller: JCSGYKAdminBundle:Assistance:getPerson }

family_home:
    pattern:  /csaladsegito
    defaults: { _controller: JCSGYKAdminBundle:User:index }

child_home:
    pattern:  /gyermekjolet
    defaults: { _controller: JCSGYKAdminBundle:User:index }
    
# Admin #    
admin_home:    
    pattern:  /admin
    defaults: { _controller: JCSGYKAdminBundle:Admin:index }
admin_users:
    pattern:  /admin/users
    defaults: { _controller: JCSGYKAdminBundle:Admin:users }
admin_update:    
    pattern:  /admin/update
    defaults: { _controller: JCSGYKAdminBundle:Admin:update }
  
login_redirector:
    pattern:   /loginredirector
    defaults: { _controller: JCSGYKAdminBundle:Menu:loginRedirector }
    
#login:
#    pattern:  /login
#    defaults: { _controller: JCSGYKAdminBundle:Security:login }
#login_check:
#    pattern:  /login_check
#    
#logout:
#    pattern:  /logout
    
