services:
    security.access.companyt_voter:
        class:      JCSGYK\AdminBundle\Services\CompanyVoter
        arguments:  ["@service_container"]
        public:     false
        tags:
            - { name: security.voter }

    kernel.listener.request_listener:
        class: JCSGYK\AdminBundle\Services\RequestListener
        arguments:    ["@jcs.ds"]
        tags:
            - { name: kernel.event_listener, event: kernel.request, method: onKernelRequest }

    history.listener:
        class: JCSGYK\AdminBundle\Services\HistoryListener
        tags:
            - { name: doctrine.event_listener, event: onFlush }
        arguments:    ["@service_container"]

    history.logger:
        class: JCSGYK\AdminBundle\Services\HistoryLogger
        arguments:    ["@service_container"]
        tags:
            - { name: kernel.event_listener, event: kernel.response, method: processQueue, priority: 5 }
            - { name: kernel.event_listener, event: command.terminate, method: processQueue }

    jcs.ds:
        class:        JCSGYK\AdminBundle\Services\DataStore
        arguments:    ["@service_container"]

    jcs.docx:
        class:        JCSGYK\AdminBundle\Services\Docx
        arguments:    ["@service_container"]

    jcs.stat:
        class:        JCSGYK\AdminBundle\Services\StatService
        arguments:    ["@service_container"]

    jcs.invoice:
        class:        JCSGYK\AdminBundle\Services\InvoiceService
        arguments:    ["@service_container"]

    jcs.closing:
        class:        JCSGYK\AdminBundle\Services\ClosingService
        arguments:    ["@service_container"]

    jcs.orders:
        class:        JCSGYK\AdminBundle\Services\DailyOrdersService
        arguments:    ["@service_container"]

    jcs.stat_archive:
        class:        JCSGYK\AdminBundle\Services\StatArchiveService
        arguments:    ["@service_container"]

    jcs.twig.adminextension:
        class:        JCSGYK\AdminBundle\Twig\AdminExtension
        arguments:    ["@translator", "@jcs.ds", "@router"]
        tags:
            - { name: twig.extension }
    jcs.seq:
        class: JCSGYK\AdminBundle\Services\ClientSequenceService
        arguments:    ['@doctrine']

    jcs.client_validator:
        class:      JCSGYK\AdminBundle\Validator\Constraints\ClientClassValidator
        arguments:    ['@doctrine']
        tags:
            - { name: validator.constraint_validator, alias: client_validator }

    jcs.reports.ksh:
        class:        JCSGYK\AdminBundle\Services\Reports\Ksh
        arguments:    ["@service_container"]

    jcs.reports.clubvisit:
        class:        JCSGYK\AdminBundle\Services\Reports\ClubVisit
        arguments:    ["@service_container"]

    kenyszi:
        class: JCSGYK\AdminBundle\Services\Kenyszi
        arguments:    ['@service_container']