services:
    security.access.companyt_voter:
        class:      JCSGYK\AdminBundle\Services\CompanyVoter
        arguments:  ["@service_container"]
        public:     false
        tags:
            - { name: security.voter }

    kernel.listener.request_listener:
        class: JCSGYK\AdminBundle\Services\RequestListener
        arguments:    ["@jcs.ds"]
        tags:
            - { name: kernel.event_listener, event: kernel.request, method: onKernelRequest }

    jcs.ds:
        class:        JCSGYK\AdminBundle\Services\DataStore
        arguments:    ["@service_container"]

    jcs.docx:
        class:        JCSGYK\AdminBundle\Services\Docx
        arguments:    ["@service_container"]

    jcs.stat:
        class:        JCSGYK\AdminBundle\Services\StatService
        arguments:    ["@service_container"]

    jcs.twig.adminextension:
        class:        JCSGYK\AdminBundle\Twig\AdminExtension
        arguments:    ["@translator", "@jcs.ds"]
        tags:
            - { name: twig.extension }
    jcs.seq:
        class: JCSGYK\AdminBundle\Services\ClientSequenceService
        arguments:    ['@doctrine']
    jcs.client_validator:
        class:      JCSGYK\AdminBundle\Validator\Constraints\ClientClassValidator
        arguments:    ['@doctrine']
        tags:
            - { name: validator.constraint_validator, alias: client_validator }

    kenyszi:
        class: JCSGYK\AdminBundle\Services\Kenyszi
        arguments:    ['@service_container']