services:
#    jcs.page_header:
#        class:        JCSGYK\AdminBundle\Services\PageHeader
#        arguments:    []

    jcs.ds:
        class:        JCSGYK\AdminBundle\Services\DataStore
        arguments:    ["@service_container"]

    jcs.docx:
        class:        JCSGYK\AdminBundle\Services\Docx
        arguments:    ["@opentbs", "@jcs.twig.adminextension", "@doctrine.orm.entity_manager"]

    jcs.twig.adminextension:
        class:        JCSGYK\AdminBundle\Twig\AdminExtension
        arguments:    ["@translator", "@jcs.ds"]
        tags:
            - { name: twig.extension }

#    jcs.listener.request:
#        class: JCSGYK\AdminBundle\Services\RequestListener
#        arguments: ["@doctrine"]
#        tags:
#            - { name: kernel.event_listener, event: kernel.request, method: onKernelRequest }