parameters:
#    jcsgyk_admin.example.class: JCSGYK\AdminBundle\Example

services:
#    jcsgyk_admin.example:
#        class: %jcsgyk_admin.example.class%
#        arguments: [@service_id, "plain_value", %parameter%]
    jcsgyk_admin.page_header:
        class:        JCSGYK\AdminBundle\Services\PageHeader
        arguments:    []

    jcsgyk_admin.twig.adminextension:
        class:        JCSGYK\AdminBundle\Twig\AdminExtension
        arguments:    ["@translator"]
        tags:
            - { name: twig.extension }